

* {
    font-family : "Microsoft Sans Serif";
    text-align: center;
    background-color: #444444;
    color: white;
    
}

.Menu {
    border : 100px, solid blue;
    margin: auto;
    padding:10px;
    padding-bottom: 500px;
    width: 20%;
    
    display: block;
    float: left;
}

/**********************************************************
/*
/*                CUADROS DE COLORES
/*
***********************************************************/


#yellow
{
    display: block;
    background-color: yellow;
    text-align: left;
    padding-left: 50px;
    height: 25%;
    margin-right: 40px;
}

#cyan
{
    display: block;
    background-color: cyan;
    text-align: left;
    padding-left: 50px;
    height: 25%;
    margin-right: 40px;
}

#red
{
    background-color: red;
    text-align: left;
    padding-left: 50px;
    height: 25%;
    margin-right: 40px;
}

#orange
{
    background-color: orange;
    text-align: left;
    padding-left: 50px;
    height: 25%;
    margin-right: 40px;
}

/**********************************************************
/*
/*                TAGS GENERALES
/*
***********************************************************/